  .topicItem {
    width: 250px;
    margin-right: 2rem;
    display: inline-block;
  }
  
  .descriptionItem {
      width: 500px;
      margin-right: 2rem;
      display: inline-block;
  }

  .levelItem {
      display: inline-block;
      width: 300px;
  }

  .buttonItem{
    display: inline-block;
    margin-left: 4rem;
    
  }

  .saveButton{
    background-color: wheat 
  }